# Project specific
.vscode/
venv/
material_addon_updater/
assets/
materialGAN/data/
neuralmaterial/trainings/
neuralmaterial/data/
algorithmic/

# Python specific
__pycache__/


# Cache folder for addon
.cache

